@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-ypora-green: #065f46;
  --color-ypora-black: #111827;
  --color-ypora-red: #ef4444;
}